@import "../sass/imports";

@import "./Main";

.app {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
}

.app__body {
	flex-grow: 1;
}